@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*font: inherit;*/
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  /*width: 1248px;*/
  width: 65%;
  margin: 0 auto;
}
@media (max-width: 1600px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 1300px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .container {
    /*width: 720px;*/
    width: 93.75%;
    /*background: aqua;*/
  }
}
@media (max-width: 320px) {
  .container {
    /*width: 280px;*/
    width: 87.5%;
    /*background: red;*/
    margin: 0 10px;
  }
}

.input-box {
  height: 34px;
  border: solid 1px #DCDCDC;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #7C7C7C;
}

button {
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.form-agreement {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #7C7C7C;
}

.form-agreement-link {
  color: #0072DE;
}

.form-agreement-link:hover {
  color: #F43131;
}

/*Преимущества*/
.input-box_advantages_name {
  margin: 0 auto;
  width: 316px;
}
@media (max-width: 320px) {
  .input-box_advantages_name {
    width: 230px;
  }
}

.input-box_advantages_contacts {
  width: 140px;
}
@media (max-width: 320px) {
  .input-box_advantages_contacts {
    width: 230px;
    margin: 0 0 10px 0;
  }
}

.advantages {
  width: 100%;
  min-height: 450px;
  background: url(../../img/advantages/group-desctop.png);
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .advantages {
    background: url(../../img/advantages/group-tablet.png);
    background-size: cover;
  }
}
@media (max-width: 320px) {
  .advantages {
    background: url(../../img/advantages/group-mobile.png);
    background-size: cover;
  }
}

.advantages__bkg {
  background: rgba(251, 250, 250, 0.3);
}
@media (max-width: 320px) {
  .advantages__bkg {
    background: rgba(251, 250, 250, 0.4);
  }
}

.advantages__title {
  display: none;
  /*@include tablet {
      padding: 50px 0 50px 0;
      display: block;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
  }*/
}
@media (max-width: 1600px) {
  .advantages__title {
    display: block;
    padding: 50px 0 0 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
  }
}
@media (max-width: 1300px) {
  .advantages__title {
    padding: 50px 0 50px 0;
  }
}
@media (max-width: 320px) {
  .advantages__title {
    padding: 20px 0 20px 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
  }
}

.advantages__content {
  min-height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*@include tablet {
      flex-direction: column-reverse;
  }*/
}
@media (max-width: 1300px) {
  .advantages__content {
    flex-direction: column-reverse;
  }
}

.advantages__features {
  /*width: 850px;*/
  width: 68.1%;
  min-height: 346px;
}
@media (max-width: 1600px) {
  .advantages__features {
    width: 100%;
  }
}

.advantages__features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  /*@include tablet {
      display: none;
  }*/
}
@media (max-width: 1600px) {
  .advantages__features-title {
    display: none;
  }
}

.advantages__features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*@include tablet {
      flex-direction: row;
  }*/
}
@media (max-width: 1600px) {
  .advantages__features-list {
    margin: 0 0 30px 0;
    flex-direction: column;
  }
}
@media (max-width: 1300px) {
  .advantages__features-list {
    flex-direction: row;
  }
}

.advantages__features-item {
  /*width: 362px;*/
  width: 42.6%;
  /*margin: 60px 25px 0 25px;*/
  margin: 60px 0 0 0;
  display: flex;
  align-items: center;
  /*@include tablet {
      width: 46.9%;
  }*/
}
@media (max-width: 1600px) {
  .advantages__features-item {
    width: 90%;
  }
}
@media (max-width: 1300px) {
  .advantages__features-item {
    /*width: 330px;*/
    width: 46.9%;
  }
}
@media (max-width: 320px) {
  .advantages__features-item {
    width: 280px;
    margin: 25px 0 0 0;
  }
}

.advantages__features-icon {
  width: 80px;
  height: 80px;
  margin: 0 20px 0 0;
}

.advantages__features-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 320px) {
  .advantages__features-text {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .advantages__features-text-color1 {
    color: #0072DE;
  }
}

@media (max-width: 320px) {
  .advantages__features-text-color2 {
    color: #F43131;
  }
}

.advantages__sign-up {
  width: 340px;
  min-height: 360px;
  padding: 20px 30px 20px 30px;
  background: #FFFFFF;
  border-radius: 20px;
}
@media (max-width: 320px) {
  .advantages__sign-up {
    width: 250px;
    padding: 15px;
  }
}

.advantages__sign-up-title {
  margin: 0 0 40px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}
@media (max-width: 320px) {
  .advantages__sign-up-title {
    margin: 0 0 15px 0;
    font-size: 16px;
    line-height: 20px;
  }
}

.advantages__sign-up-title-benefit {
  color: #F43131;
}

.advantages__sign-up-form-contacts {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 20px 0;
}
@media (max-width: 320px) {
  .advantages__sign-up-form-contacts {
    display: block;
    margin: 10px 0 0 0;
  }
}

.advantages__sign-up-form-button {
  width: 340px;
  border: #F43131;
  background: #F43131;
  color: #FFFFFF;
}
@media (max-width: 320px) {
  .advantages__sign-up-form-button {
    width: 251px;
  }
}

.advantages__sign-up-form-button:hover {
  background: #0072DE;
}

.advantages__sign-up-form-agreement {
  display: flex;
  align-items: center;
}

/*Оставить заявку*/
.container_application {
  min-height: 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .container_application {
    display: block;
    text-align: center;
    padding: 0 0 40px 0;
  }
}
@media (max-width: 320px) {
  .container_application {
    padding: 0 0 20px 0;
  }
}

.application {
  min-height: 165px;
  margin: 0 0 75px 0;
  background: #DAECFF;
}
@media (max-width: 320px) {
  .application {
    margin: 0 0 15px 0;
  }
}

.application__content {
  min-height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.application__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}
@media (max-width: 320px) {
  .application__title {
    font-size: 23px;
    line-height: 30px;
  }
}

@media (max-width: 320px) {
  .application__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }
}

.application__btn {
  width: 250px;
  height: 50px;
  background: #0072DE;
  border: 1px solid #0072DE;
}

.application__btn:hover {
  background: #F43131;
  border: 1px solid #F43131;
}

/*Каталог*/
.catalog {
  padding: 0 0 20px 0;
}

.catalog__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: left;
  margin: 80px 0 40px 0;
}
@media (max-width: 320px) {
  .catalog__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
  }
}

.catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*@include tablet {
      justify-content: center;
  }*/
}
@media (max-width: 1300px) {
  .catalog__list {
    justify-content: center;
  }
}

.catalog__item {
  /*width: 570px;*/
  width: 47.2%;
  min-height: 380px;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 0 0 50px 0;
  padding: 10px;
  box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.5);
  display: grid;
  grid-template-rows: auto 100px;
  /*grid-template-columns: 220px auto;*/
  /*grid-template-rows: auto 26%;*/
  grid-template-columns: 36% auto;
  /*column-gap: 20px;*/
  /*@include tablet {
      width: 570px;
  }*/
}
@media (max-width: 1300px) {
  .catalog__item {
    width: 570px;
  }
}
@media (max-width: 320px) {
  .catalog__item {
    width: 260px;
    height: 470px;
    margin: 0 0 10px 0;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 33% auto;
    grid-template-columns: 50% 50%;
  }
}

/*.catalog__item-content {
    display: flex;
    height: 285px;

    @include mobile {
        display: block;
    }
}*/
.catalog__item-content-pic {
  /*width: 200px;
  width: 35%;*/
  grid-row: 1/2;
  grid-column: 1/2;
}
@media (max-width: 320px) {
  .catalog__item-content-pic {
    width: 130px;
  }
}

.catalog__item-content-pic-image {
  width: 100%;
  border-radius: 10px;
  /*width: 200px;
  width: 100%;
  height: 200px;*/
}
@media (max-width: 320px) {
  .catalog__item-content-pic-image {
    width: 130px;
    height: 130px;
  }
}

.catalog__item-content-pic-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  margin: 15px 0 10px 0;
}
@media (max-width: 320px) {
  .catalog__item-content-pic-price {
    margin: 5px 0 0 0;
  }
}

.catalog__item-content-pic-details {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #0072DE;
}
@media (max-width: 320px) {
  .catalog__item-content-pic-details {
    display: none;
  }
}

.catalog__item-content-pic-details:hover {
  color: #F43131;
}

.catalog__item-content-desc {
  margin: 0 0 0 20px;
  grid-row: 1/2;
  grid-column: 2/3;
}
@media (max-width: 320px) {
  .catalog__item-content-desc {
    grid-row: 2/3;
    grid-column: 1/3;
    margin: 10px 0 0 0;
  }
}

.catalog__item-content-desc-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
}
@media (max-width: 320px) {
  .catalog__item-content-desc-title {
    margin: 5px 0 0 0;
  }
}

.catalog__item-content-desc-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin: 13px 0 0 0;
}

.catalog__item-control {
  padding: 20px 0 0 0;
  height: 80px;
  display: flex;
  align-items: center;
  /*flex-wrap: wrap;*/
  grid-row: 2/3;
  grid-column: 1/3;
}
@media (max-width: 320px) {
  .catalog__item-control {
    display: grid;
    grid-template-rows: 30% 30% auto;
    /*grid-template-rows: repeat(3, 1fr);*/
    grid-template-columns: 1fr;
    grid-row: 1/2;
    grid-column: 2/3;
    width: 120px;
    margin: 0 10px 0 10px;
  }
}

.catalog__item-control-meet {
  position: relative;
}
@media (max-width: 320px) {
  .catalog__item-control-meet {
    grid-row: 1/2;
  }
}

.catalog__item-control-btn {
  width: 175px;
  height: 60px;
  margin: 0 10px 0 0;
  line-height: 19px;
}
@media (max-width: 320px) {
  .catalog__item-control-btn {
    width: 120px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    padding: 0;
    margin: 0;
    border-radius: 5px;
  }
}

.catalog__item-control-btn_try {
  border: #0072DE;
  background: #0072DE;
}

.catalog__item-control-btn_try:hover {
  color: #F43131;
}

.catalog__item-control-btn_meet {
  border: #F43131;
  background: #F43131;
}

.catalog__item-control-btn_meet:hover {
  color: #0072DE;
}

.catalog__item-control-link {
  width: 120px;
  margin: 20px auto;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #0072DE;
}
@media (max-width: 320px) {
  .catalog__item-control-link {
    display: block;
    width: 100px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
  }
}

.catalog__item-control-link:hover {
  color: #F43131;
}

.catalog__item-control-price-box {
  width: 80px;
  height: 25px;
  background: #29A71A;
  color: #FFFFFF;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  border-radius: 5px;
  position: absolute;
  top: -19px;
  left: 106px;
}
@media (max-width: 320px) {
  .catalog__item-control-price-box {
    width: 53px;
    height: 15px;
    border-radius: 3px;
    font-size: 10px;
    line-height: 8px;
    top: -10px;
    left: 72px;
  }
}

.catalog__item-control-price-box-text {
  padding: 4px 0 4px 0;
}

.catalog__item-control-price-box-triangle {
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
  border-left: 5px solid green;
  border-top: 5px solid green;
  position: absolute;
  top: 23px;
  left: 69px;
}
@media (max-width: 320px) {
  .catalog__item-control-price-box-triangle {
    top: 14px;
    left: 48px;
    border: 2px solid transparent;
    border-left: 2px solid green;
    border-top: 2px solid green;
  }
}

.catalog__pagination {
  display: none;
}
@media (max-width: 320px) {
  .catalog__pagination {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

.catalog__pagination-item {
  width: 30px;
  height: 30px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C0C0C0;
  border: 1px solid #C0C0C0;
  border-radius: 60px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.catalog__pagination-item:hover {
  background: #00BFFF;
  border: 1px solid #00BFFF;
  border-radius: 60px;
}

/*Описание*/
.desc__wrap {
  margin: 80px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .desc__wrap {
    align-items: flex-start;
  }
}
@media (max-width: 320px) {
  .desc__wrap {
    flex-direction: column;
  }
}

.desc__content {
  width: 670px;
  line-height: 150%;
  min-height: 350px;
}
@media (max-width: 1300px) {
  .desc__content {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .desc__content {
    width: 330px;
    min-height: 250px;
  }
}
@media (max-width: 320px) {
  .desc__content {
    margin: 0 0 5px 0;
  }
}

@media (max-width: 1600px) {
  .desc__list {
    height: 330px;
    overflow-y: scroll;
  }
}
@media (max-width: 768px) {
  .desc__list {
    width: 330px;
    height: 220px;
    overflow: hidden;
  }
}
@media (max-width: 320px) {
  .desc__list {
    width: 280px;
  }
}

.desc__content-text {
  margin: 0 0 20px 0;
}

.desc__content-full {
  display: none;
}
@media (max-width: 768px) {
  .desc__content-full {
    margin: 5px 0 0 0;
    display: block;
    text-decoration: underline;
    color: #0072DE;
  }
}
@media (max-width: 320px) {
  .desc__content-full {
    margin: 5px 0 10px 0;
  }
}

.desc__content-full:hover {
  color: #F43131;
  cursor: pointer;
}

.desc__video {
  margin: 0 0 0 30px;
}
@media (max-width: 1300px) {
  .desc__video {
    width: 50%;
  }
}
@media (max-width: 320px) {
  .desc__video {
    margin: 0 auto;
  }
}

.desc__video-content {
  display: block;
  width: 500px;
  height: 330px;
  border-radius: 10px;
}
@media (max-width: 1300px) {
  .desc__video-content {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .desc__video-content {
    width: 360px;
    height: 230px;
  }
}
@media (max-width: 320px) {
  .desc__video-content {
    width: 280px;
  }
}

/*Отзывы учеников*/
.feedback__title {
  padding: 70px 0 35px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}
@media (max-width: 320px) {
  .feedback__title {
    padding: 50px 0 25px 0;
    font-size: 24px;
    line-height: 29px;
  }
}

.feedback__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .feedback__list {
    overflow-x: scroll;
  }
}

.feedback__item {
  width: 245px;
  height: 245px;
  padding: 20px;
  border: 2px solid #C0C0C0;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .feedback__item {
    margin: 0 25px 30px 0;
  }
}
@media (max-width: 320px) {
  .feedback__item {
    width: 235px;
  }
}

.feedback__item-desc {
  display: flex;
  margin: 0 0 20px 0;
}

.feedback__item-desc-icon {
  width: 43px;
  height: 43px;
  margin: 0 10px 0 0;
  position: relative;
  background: url(../img/feedback/message-icon.png);
}

.feedback__item-desc-icon-pencil {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 9px;
  left: 12px;
}

.feedback__item-desc-student {
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7C7C7C;
}

.feedback__item-desc-student-name {
  font-size: 20px;
  font-weight: 500;
}

.feedback__item-content {
  height: 190px;
  overflow-y: scroll;
}

.feedback__item-content-score {
  display: flex;
  margin: 0 0 20px 0;
}

.feedback__item-content-score-item {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  background: url(../img/feedback/grey-star-icon.png);
}

.feedback__item-content-score-item:hover {
  background: url(../img/feedback/gold-star-icon.png);
}

.feedback__item-content-text {
  line-height: 150%;
}

.feedback__pagination {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .feedback__pagination {
    display: none;
  }
}

.feedback__pagination-item {
  width: 30px;
  height: 30px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C0C0C0;
  border: 1px solid #C0C0C0;
  border-radius: 60px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.feedback__pagination-item:hover {
  background: #00BFFF;
  border: 1px solid #00BFFF;
  border-radius: 60px;
}

/*Форматы занятий*/
.formats {
  min-height: 400px;
  margin: 100px 0 0 0;
}
@media (max-width: 320px) {
  .formats {
    margin: 40px 0 0 0;
  }
}

.formats__title {
  margin: 0 0 70px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}
@media (max-width: 320px) {
  .formats__title {
    margin: 0 0 25px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
}

.formats__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formats__item {
  width: 570px;
  min-height: 280px;
  padding: 20px;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.5);
}
@media (max-width: 768px) {
  .formats__item {
    margin: 30px auto;
  }
}
@media (max-width: 320px) {
  .formats__item {
    width: 240px;
    min-height: 335px;
    margin: 10px auto;
    padding: 10px;
  }
}

.formats__item-title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 29px;
  line-height: 27px;
}
@media (max-width: 320px) {
  .formats__item-title {
    min-height: 35px;
    font-size: 18px;
    margin: 0;
  }
}

.formats__item-wrap {
  width: 570px;
  display: grid;
  grid-template-areas: "a b b b" "a c c c" "d d d d" "e e e e";
  column-gap: 15px;
}
@media (max-width: 320px) {
  .formats__item-wrap {
    width: 235px;
    min-height: 300px;
    grid-template-areas: "a b" "a b" "c c" "c c" "d d" "d d" "f f" "e e";
    column-gap: 15px;
  }
}

.formats__item-content-list {
  grid-area: a;
  display: flex;
  min-height: 125px;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 320px) {
  .formats__item-content-list {
    min-height: 90px;
  }
}

.formats__item-content-item {
  width: 115px;
  height: 25px;
  padding: 15px;
  border-radius: 10px;
  background: #DAECFF;
  color: #0072DE;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
}
@media (max-width: 320px) {
  .formats__item-content-item {
    width: 90px;
    padding: 10px;
    font-size: 13px;
  }
}

.formats__item-content-parameters-time {
  grid-area: b;
  background: #F8F8FF;
  color: #F43131;
  text-align: center;
  padding: 15px 0 15px 0;
  border-radius: 10px;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
}
@media (max-width: 768px) {
  .formats__item-content-parameters-time {
    padding: 0;
  }
}
@media (max-width: 320px) {
  .formats__item-content-parameters-time {
    padding: 15px 0 15px 0;
    font-size: 13px;
    text-align: start;
    min-height: 75px;
  }
}

.formats__item-content-parameters-price {
  width: 300px;
  padding: 15px 0 0 0;
  grid-area: c;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
@media (max-width: 320px) {
  .formats__item-content-parameters-price {
    width: 235px;
    min-height: 60px;
    margin: 0;
    padding: 0;
  }
}

.formats__item-content-parameters-price-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 320px) {
  .formats__item-content-parameters-price-wrap {
    flex-direction: column;
    min-height: 60px;
    margin: 15px 0 0 0;
  }
}

.formats__item-content-parameters-price-discount {
  display: inline-block;
  width: 50px;
  height: 25px;
  background: #F43131;
  color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
}

.formats__item-content-parameters-instalment {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  grid-row: 3/4;
  grid-column: 2/3;
}
@media (max-width: 768px) {
  .formats__item-content-parameters-instalment {
    display: none;
  }
}

.formats__item-advantages {
  min-height: 30px;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
  grid-area: d;
}
@media (max-width: 320px) {
  .formats__item-advantages {
    flex-direction: column;
    width: 180px;
    min-height: 90px;
  }
}

.formats__item-advantages_1 {
  display: block;
}
@media (max-width: 320px) {
  .formats__item-advantages_1 {
    display: none;
  }
}

.formats__item-advantages-item {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.formats__item-advantages-item-icon {
  width: 25px;
  height: 25px;
  margin: 0 10px 0 0;
}

.formats__item-control {
  display: flex;
  justify-content: space-between;
  grid-area: e;
}
@media (max-width: 768px) {
  .formats__item-control {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 320px) {
  .formats__item-control {
    min-height: 100px;
    display: flex;
    flex-direction: column-reverse;
    grid-column: 1/3;
  }
}

.formats__item-control-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.formats__item-control-item-btn {
  width: 270px;
  background: #0072DE;
  border: 1px solid #0072DE;
}
@media (max-width: 320px) {
  .formats__item-control-item-btn {
    width: 235px;
  }
}

.formats__item-control-item-btn:hover {
  color: #F43131;
}

.formats__item-control-item-btn_visit {
  background: #F43131;
  border: 1px solid #F43131;
}
@media (max-width: 768px) {
  .formats__item-control-item-btn_visit {
    display: none;
  }
}

.formats__item-control-item-btn_visit:hover {
  color: #0072DE;
}

.formats__item-control-instalment {
  display: none;
}
@media (max-width: 768px) {
  .formats__item-control-instalment {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    background: #F8F8FF;
    padding: 0 0 0 15px;
    border-radius: 10px;
  }
}
@media (max-width: 320px) {
  .formats__item-control-instalment {
    width: 215px;
    height: 25px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    grid-area: f;
  }
}

.formats__item-control-instalment-icon {
  display: none;
}
@media (max-width: 768px) {
  .formats__item-control-instalment-icon {
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 10px 0 0;
  }
}

.header-content {
  min-height: 140px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 320px) {
  .header-content {
    min-height: 90px;
  }
}

.header-content__picture {
  width: 50%;
}
@media (max-width: 1600px) {
  .header-content__picture {
    flex-direction: column;
  }
}

.header-content__picture-logo {
  width: 300px;
  height: 80px;
  margin: 0 0 10px 0;
  background: url(../../img/header/logo-orig.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1300px) {
  .header-content__picture-logo {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .header-content__picture-logo {
    width: 275px;
    height: 70px;
  }
}
@media (max-width: 320px) {
  .header-content__picture-logo {
    width: 205px;
    height: 50px;
  }
}

.header-content__picture {
  display: flex;
  align-items: center;
}

.header-content__picture-drop-down {
  margin: 0 0 0 20px;
  position: relative;
}
@media (max-width: 768px) {
  .header-content__picture-drop-down {
    display: none;
  }
}

.header-content__picture-drop-down-text {
  display: inline-block;
  color: #0072DE;
  text-decoration: underline;
}

.header-content__picture-drop-down-text:hover {
  cursor: pointer;
  display: inline-block;
  color: #F43131;
  text-decoration: underline;
}

.header-content__picture-drop-down-text-icon {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  border-top: 7px solid #7C7C7C;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.header-content__picture-navbar {
  width: 150px;
  min-height: 100px;
  padding: 5px;
  display: none;
  /*display: block;*/
  position: absolute;
  top: 15px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.5);
}

.header-content__picture-drop-down:hover .header-content__picture-navbar {
  display: block;
}

.header-content__picture-navbar-link {
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: #7C7C7C;
}

.header-content__picture-navbar-link:hover {
  color: #222222;
}

.header-content__contacts {
  /*width: 624px;*/
  width: 50%;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header-content__contacts {
    display: none;
  }
}

.header-content__navigation {
  width: 100%;
  /*width: 500px;*/
  display: flex;
}

.header-content__menu {
  /*display: inline-block;*/
  width: 96.15%;
  margin: 0 20px 0 0;
}

.header-content__menu-list {
  /*width: 600px;*/
  /*width: 96.15%;*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1600px) {
  .header-content__menu-list {
    justify-content: flex-start;
  }
}

.header-content__menu-item {
  margin: 0 10px 0 10px;
}

.header-content__menu-link {
  text-decoration: none;
  color: #7C7C7C;
  font-weight: bolder;
  font-size: 14px;
}

.header-content__menu-link:hover {
  text-decoration: underline;
  color: #222222;
}

.header-content__search {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #FFFFFF;
}

.header-content__search:hover {
  border: 1px solid #7C7C7C;
}

.header-content__call {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1600px) {
  .header-content__call {
    min-height: 110px;
    margin: 15px 0 0 0;
    flex-direction: column;
  }
}

.header-content__call-phone {
  color: #222222;
  font-weight: bolder;
}

.header-content__call-socials {
  width: 130px;
  display: flex;
  justify-content: space-between;
}

.header-content__call-btn {
  background: #FFFFFF;
  color: #F43131;
  width: 220px;
  min-height: 50px;
  border: 1px solid #F43131;
}

.header-content__call-btn:hover {
  color: #0072DE;
  border: 1px solid #0072DE;
}

.header-content__burger {
  display: none;
  position: relative;
  border: 1px solid #FFFFFF;
}
@media (max-width: 768px) {
  .header-content__burger {
    display: block;
    width: 48px;
    height: 48px;
    align-self: center;
    background: url(../img/header/icon-park-outline_hamburger-button.png);
  }
}
@media (max-width: 320px) {
  .header-content__burger {
    width: 36px;
    height: 36px;
    background-size: cover;
  }
}

.header-content__burger:hover {
  border: 1px solid #F43131;
}

.header-content__burger:hover .header-content__burger-navbar {
  display: block;
}

.header-content__burger-navbar {
  width: 150px;
  min-height: 100px;
  padding: 5px;
  display: none;
  position: absolute;
  top: 55px;
  right: 0px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.5);
}

.header-content__burger:hover .header-content__burger-navbar {
  display: block;
}

.header-content__burger-navbar-link {
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: #7C7C7C;
}

.header-content__burger-navbar-link:hover {
  color: #222222;
}

.header-nav__menu-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1300px) {
  .header-nav__menu-list {
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .header-nav__menu-list {
    display: none;
  }
}

.header-nav__menu-item {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px 0 10px;
}

.header-nav__menu-item:hover .header-nav__menu-line {
  display: block;
}

.header-nav__menu-link {
  display: inline-block;
  text-decoration: none;
  color: #222222;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.header-nav__menu-line {
  display: none;
  width: 100%;
  height: 5px;
  background: #F43131;
  border-radius: 5px;
}

.header-nav__pagination {
  display: flex;
  margin: 30px 0 30px 0;
}
@media (max-width: 768px) {
  .header-nav__pagination {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 320px) {
  .header-nav__pagination {
    display: none;
  }
}

.header-nav__pagination-link {
  text-decoration: none;
  color: #0072DE;
  margin: 0 5px 0 0;
}

.header-nav__pagination-link:hover {
  color: #F43131;
}

.header-nav__pagination-text {
  color: #7C7C7C;
}

/*Как проходит обучение*/
.learning {
  background: #F8F8FF;
}

.learning__title {
  margin: 0 0 50px 0;
  padding: 50px 0 0 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}
@media (max-width: 320px) {
  .learning__title {
    margin: 0 0 25px 0;
    font-size: 23px;
    line-height: 29px;
  }
}

.learning__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.learning__item {
  width: 350px;
  min-height: 160px;
  margin: 0 0 40px 0;
  padding: 20px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.5);
}
@media (max-width: 768px) {
  .learning__item {
    width: 310px;
    margin: 0 0 20px 0;
    padding: 20px;
  }
}
@media (max-width: 320px) {
  .learning__item {
    padding: 15px;
  }
}

.learning__item-features {
  min-height: 80px;
  display: flex;
}

.learning__item-features-icon {
  margin: 0 25px 0 0;
}
@media (max-width: 320px) {
  .learning__item-features-icon {
    width: 70px;
    height: 70px;
    margin: 0 10px 0 0;
  }
}

.learning__item-features-title {
  height: max-content;
  align-self: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}
@media (max-width: 768px) {
  .learning__item-features-title {
    font-size: 16px;
    line-height: 21px;
  }
}
@media (max-width: 320px) {
  .learning__item-features-title {
    font-size: 15px;
    line-height: 19px;
  }
}

.learning__item-features-title-color1 {
  color: #0072DE;
}

.learning__item-features-title-color2 {
  color: #F43131;
}

.learning__item-text {
  margin: 20px 0 0 0;
}
@media (max-width: 320px) {
  .learning__item-text {
    margin: 5px 0 0 0;
  }
}

/*Видео занятий*/
.lessons__heading {
  margin: 80px 0 50px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 320px) {
  .lessons__heading {
    margin: 50px 0 25px 0;
  }
}

.lessons__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}
@media (max-width: 320px) {
  .lessons__title {
    font-size: 24px;
    line-height: 29px;
  }
}

.lessons__title-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}
@media (max-width: 768px) {
  .lessons__title-control {
    display: none;
  }
}

.lessons__title-control-button {
  width: 30px;
  height: 30px;
  background: #0072DE;
  border: 1px solid #0072DE;
  border-radius: 50%;
}

.lessons__title-control-button_left {
  background: #C0C0C0;
  border: 1px solid #C0C0C0;
}

.lessons__title-control-button_right {
  background: #00BFFF;
  border: 1px solid #00BFFF;
}

.lessons__title-control-button_right:hover {
  background: #0072DE;
  border: 1px solid #0072DE;
}

.lessons__title-control-button-left-triangle {
  border: 10px solid transparent;
  margin: -5px 0 0 -15px;
  border-right: 15px solid #FFFFFF;
}

.lessons__title-control-button-right-triangle {
  border: 10px solid transparent;
  margin: -5px 0 0 -1px;
  border-left: 15px solid #FFFFFF;
}

.lessons__list {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px 0;
}
@media (max-width: 768px) {
  .lessons__list {
    overflow-x: scroll;
  }
}

.lessons__item-box {
  width: 270px;
  min-height: 200px;
  margin: 0 0 40px 0;
  background: #696969;
  border: 2px solid #696969;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .lessons__item-box {
    margin: 0 30px 35px 0;
  }
}

/*Результат*/
.result {
  min-height: 700px;
  background: url(../../img/result/vector.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 768px) {
  .result {
    background: url(../../img/result/vector-tablet.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media (max-width: 320px) {
  .result {
    min-height: 650px;
    background: url(../../img/result/vector-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.result__title {
  width: max-content;
  margin: 0 auto;
  padding: 50px 0 30px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}
@media (max-width: 320px) {
  .result__title {
    width: 285px;
    padding: 20px 0 30px 0;
    text-align: center;
    font-size: 24px;
    line-height: 29px;
  }
}

.result__certificate {
  min-height: 495px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: url(../img/result/sertificate.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (max-width: 320px) {
  .result__certificate {
    min-height: 400px;
    flex-direction: column;
    justify-content: space-between;
  }
}

.result__subtitle {
  width: 300px;
  height: 40px;
  margin: -20px 0 0 0;
  background: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.5);
}
@media (max-width: 320px) {
  .result__subtitle {
    width: 280px;
    height: 35px;
    margin: -10px 0 0 0;
    font-size: 17px;
  }
}

.result__list {
  position: absolute;
}
@media (max-width: 320px) {
  .result__list {
    position: static;
    width: 280px;
    border-radius: 10px;
    background: #FFFFFF;
    /*background: yellow;*/
    box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.5);
    margin: 0 0 -140px 0;
    padding: 5px;
  }
}

.result__item {
  display: flex;
  width: max-content;
  border-radius: 10px;
  padding: 13px 10px 13px 10px;
  background: #FFFFFF;
  position: absolute;
  box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.5);
}
@media (max-width: 320px) {
  .result__item {
    position: static;
    box-shadow: revert;
    width: revert;
    background: revert;
    padding: 5px;
  }
}

.result__item_1 {
  top: 60px;
  left: 65px;
}
@media (max-width: 768px) {
  .result__item_1 {
    left: 100px;
  }
}

.result__item_2 {
  width: 220px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  top: 235px;
  left: -370px;
}
@media (max-width: 768px) {
  .result__item_2 {
    left: -345px;
  }
}
@media (max-width: 320px) {
  .result__item_2 {
    flex-direction: row;
    width: 245px;
  }
}

.result__item_3 {
  top: 315px;
  left: 80px;
}
@media (max-width: 768px) {
  .result__item_3 {
    left: -5px;
  }
}

.result__item-box {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0072DE;
  border-radius: 60px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.result__item-box-number {
  display: inline-block;
}

.result__item-content {
  margin: 0 0 0 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
@media (max-width: 320px) {
  .result__item-content {
    width: 220px;
  }
}

.result__item-content-text {
  vertical-align: middle;
}

/*Расписание и цены*/
.shedule {
  display: block;
  min-height: 400px;
  padding: 100px 0 0 0;
}
@media (max-width: 768px) {
  .shedule {
    display: none;
  }
}

.container_shedule {
  margin: 0 auto;
}

.shedule__title {
  font-weight: 700;
  font-size: 29px;
  line-height: 27px;
}

.shedule__parameters {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 10px 0;
}

.shedule__parameters-list {
  width: 625px;
  display: flex;
  justify-content: space-between;
}

.shedule__parameters-age {
  border: 1px solid #7C7C7C;
  border-radius: 5px;
  width: 162px;
}

.shedule__parameters-age-button {
  border: none;
  border-radius: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  background: #FFFFFF;
  color: #7C7C7C;
}

.shedule__parameters-age-button_adults {
  margin: 0 -5px 0 0;
  background: #0072DE;
  color: #FFFFFF;
}

.shedule__parameters-age-button_adults:hover {
  color: #222222;
}

.shedule__parameters-age-button_kids:hover {
  color: #222222;
}

.shedule__parameters-age-button_kids:active {
  background: #0072DE;
  color: #FFFFFF;
}

.shedule__parameters-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  border: 1px solid #7C7C7C;
  width: 162px;
  border-radius: 5px;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #7C7C7C;
}

.shedule__parameters-item:hover .shedule__parameters-navbar {
  display: block;
}

.shedule__parameters-icon {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 5px 0 0 5px;
  border-top: 7px solid #7C7C7C;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.shedule__parameters-navbar {
  width: 95%;
  min-height: 100px;
  padding: 5px 1px 0 10px;
  text-align: left;
  display: none;
  position: absolute;
  border-radius: 10px;
  background: #FFFFFF;
  position: absolute;
  top: 45px;
  left: 0px;
  box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.5);
}

.shedule__parameters-navbar-link {
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: #7C7C7C;
}

.shedule__parameters-navbar-link:hover {
  color: #222222;
}

.shedule__parameters-preferences-list {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.shedule__parameters-preferences-item {
  color: #7C7C7C;
  margin: 0 20px 0 0;
}

.shedule__catalog-list {
  display: flex;
  justify-content: space-between;
}

.shedule__catalog-item {
  width: 570px;
  height: 190px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.5);
}

.shedule__catalog-item-info-box {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.shedule__catalog-item-info-title {
  line-height: 35px;
}

.shedule__catalog-item-info-box-addr-map-icon {
  width: 18px;
  height: 15px;
}

.shedule__catalog-item-info-box-addr-map {
  line-height: 35px;
}

.shedule__catalog-item-info-box-addr-map-link {
  color: #7C7C7C;
}

.shedule__catalog-item-info-box-addr-map-link:hover {
  color: #222222;
}

.shedule__catalog-item-info-box-addr-teachers-title {
  color: #7C7C7C;
  font-weight: normal;
  line-height: 35px;
}

.shedule__catalog-item-info-box-addr-teachers-item {
  line-height: 20px;
}

.shedule__catalog-item-info-box-addr-teachers-link {
  color: #0072DE;
}

.shedule__catalog-item-info-box-addr-teachers-link:hover {
  color: #F43131;
}

.shedule__catalog-item-info-box-addr-start {
  font-weight: bolder;
  color: #F43131;
  margin: 15px 0 0 0;
}

.shedule__catalog-item-info-box-mini-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 35px;
}

.shedule__catalog-item-info-box-mini-days {
  font-weight: 500;
  font-size: 14px;
  line-height: 35px;
  color: #7C7C7C;
}

.shedule__catalog-item-info-box-mini-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #7C7C7C;
}

.shedule__catalog-item-info-box-mini-price-discount {
  display: inline-block;
  width: 40px;
  height: 21px;
  margin: 5px 0 0 0;
  background: #F43131;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  border-radius: 5px;
  text-align: center;
}

.shedule__catalog-item-control-item-button {
  width: 150px;
  margin: 0 0 15px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.shedule__catalog-item-control-item-button_sign-up {
  background: #F43131;
  border: 1px solid #F43131;
}

.shedule__catalog-item-control-item-button_sign-up:hover {
  color: #0072DE;
}

.shedule__catalog-item-control-item-button_trial {
  background: #0072DE;
  border: 1px solid #0072DE;
}

.shedule__catalog-item-control-item-button_trial:hover {
  color: #F43131;
}

.shedule__catalog-item-control-item-button_call-back {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #FFFFFF;
  border: 3px solid #29A71A;
  color: #222222;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.shedule__catalog-item-control-item-button_call-back:hover {
  background: #29A71A;
  border: 3px solid #29A71A;
  color: #FFFFFF;
}

.shedule__catalog-item-control-item-button-pic {
  display: inline-block;
}

.shedule__link {
  width: 200px;
  display: block;
  margin: 50px auto;
  color: #0072DE;
}

.shedule__link:hover {
  color: #F43131;
}

/*Летняя стажировка*/
.container_summer {
  border-radius: 20px;
  background: url(../img/summer/hey-girl.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 320px) {
  .container_summer {
    background: url(../../img/summer/hey-girl-mobile.png);
  }
}

.summer {
  min-height: 250px;
}

.summer__wrap {
  margin: 0 0 0 70px;
}
@media (max-width: 320px) {
  .summer__wrap {
    margin: 0 20px 0 20px;
  }
}

.summer__title {
  padding: 25px 0 20px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}
@media (max-width: 320px) {
  .summer__title {
    padding: 45px 0 20px 0;
    font-size: 23px;
    line-height: 30px;
  }
}

.summer__title-internship {
  display: block;
  color: #0072DE;
}

.summer__title-korea {
  display: block;
  color: #F43131;
}

.summer__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.summer__btn {
  width: 225px;
  margin: 10px 0 0 0;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #0072DE;
}
@media (max-width: 320px) {
  .summer__btn {
    margin: 20px auto;
    display: block;
  }
}

.summer__btn:hover {
  background: #0072DE;
  border: 1px solid #0072DE;
  color: #FFFFFF;
}

/*Преподаватели*/
.teachers {
  min-height: 450px;
  margin: 100px 0 0 0;
}

.teachers__heading {
  margin: 0 0 50px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 320px) {
  .teachers__heading {
    margin: 0 0 25px 0;
  }
}

.teachers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}
@media (max-width: 320px) {
  .teachers__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
}

.teachers__title-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}
@media (max-width: 768px) {
  .teachers__title-control {
    display: none;
  }
}

.teachers__title-control-button {
  width: 30px;
  height: 30px;
  background: #0072DE;
  border: 1px solid #0072DE;
  border-radius: 50%;
}

.teachers__title-control-button_left {
  background: #C0C0C0;
  border: 1px solid #C0C0C0;
}

.teachers__title-control-button_right {
  background: #00BFFF;
  border: 1px solid #00BFFF;
}

.teachers__title-control-button_right:hover {
  background: #0072DE;
  border: 1px solid #0072DE;
}

.teachers__title-control-button-left-triangle {
  border: 10px solid transparent;
  margin: -5px 0 0 -15px;
  border-right: 15px solid #FFFFFF;
}

.teachers__title-control-button-right-triangle {
  border: 10px solid transparent;
  margin: -5px 0 0 -1px;
  border-left: 15px solid #FFFFFF;
}

@media (max-width: 768px) {
  .teachers__content {
    display: flex;
    align-items: center;
  }
}

.teachers__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 768px) {
  .teachers__list {
    flex-wrap: wrap;
  }
}
@media (max-width: 320px) {
  .teachers__list {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
}

.teachers__item {
  width: 300px;
  margin: 0 0 50px 0;
}

.teachers__item-photo {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  background: #696969;
  border: 1px solid #696969;
  border-radius: 50%;
}

.teachers__item-name {
  margin: 20px 0 10px 0;
  color: #0072DE;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}

.teachers__item-desc {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.teachers__item-text {
  line-height: 150%;
  color: #7C7C7C;
}
@media (max-width: 320px) {
  .teachers__item-text {
    width: 290px;
  }
}

/*Кнопки tablet*/
.teachers__content-control-button {
  display: none;
  width: 30px;
  height: 30px;
  background: #0072DE;
  border: 1px solid #0072DE;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .teachers__content-control-button {
    display: block;
  }
}

.teachers__content-control-button_left {
  display: none;
  background: #C0C0C0;
  border: 1px solid #C0C0C0;
}
@media (max-width: 768px) {
  .teachers__content-control-button_left {
    display: block;
  }
}
@media (max-width: 320px) {
  .teachers__content-control-button_left {
    display: none;
  }
}

.teachers__content-control-button_right {
  display: none;
  background: #00BFFF;
  border: 1px solid #00BFFF;
}
@media (max-width: 768px) {
  .teachers__content-control-button_right {
    display: block;
  }
}
@media (max-width: 320px) {
  .teachers__content-control-button_right {
    display: none;
  }
}

@media (max-width: 768px) {
  .teachers__content-control-button_right:hover {
    display: block;
    background: #0072DE;
    border: 1px solid #0072DE;
  }
}

.teachers__content-control-button-left-triangle {
  border: 10px solid transparent;
  margin: -5px 0 0 -15px;
  border-right: 15px solid #FFFFFF;
}

.teachers__content-control-button-right-triangle {
  border: 10px solid transparent;
  margin: -5px 0 0 -1px;
  border-left: 15px solid #FFFFFF;
}

/*Пробный урок*/
.container_trial {
  position: relative;
}

.input-box_trial {
  width: 275px;
  margin: 0 0 15px 0;
  padding: 10px 0 10px 20px;
}
@media (max-width: 320px) {
  .input-box_trial {
    width: 205px;
    /*padding: 5px 0 5px 10px;*/
  }
}

.trial {
  min-height: 565px;
  padding: 40px 0 0 0;
  background: #F6F9FC;
}
@media (max-width: 768px) {
  .trial {
    padding: 40px 0 45px 0;
  }
}
@media (max-width: 320px) {
  .trial {
    min-height: 740px;
    padding: 40px 0 20px 0;
  }
}

.trial__title {
  width: 745px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}
@media (max-width: 320px) {
  .trial__title {
    width: 300px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .trial__title-headline {
    display: block;
  }
}

.trial__title-benefit {
  color: #F43131;
}

@media (max-width: 320px) {
  .trial__picture-wrap {
    width: 280px;
    height: 300px;
  }
}

@media (max-width: 320px) {
  .trial__picture {
    padding: 0 0 0 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.trial__sign-up-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  top: 200px;
  right: 10px;
  width: 615px;
  min-height: 165px;
  padding: 25px;
  border-radius: 20px;
  background: #FFFFFF;
  box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.5);
}
@media (max-width: 768px) {
  .trial__sign-up-form {
    position: static;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  .trial__sign-up-form {
    width: 235px;
    padding: 20px;
  }
}

.trial__sign-up-form-button {
  width: 295px;
  height: 55px;
  background: #0072DE;
  border: #0072DE;
}
@media (max-width: 320px) {
  .trial__sign-up-form-button {
    width: 225px;
  }
}

.trial__sign-up-form-button:hover {
  background: #F43131;
  border: #F43131;
}

.trial__list {
  position: absolute;
  top: 0px;
}

.trial__item {
  display: flex;
  width: max-content;
  border-radius: 10px;
  padding: 13px 10px 13px 10px;
  background: #FFFFFF;
  position: absolute;
  box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.5);
}
@media (max-width: 320px) {
  .trial__item {
    height: 22px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
  }
}

.trial__item_1 {
  top: 140px;
  left: 70px;
}
@media (max-width: 320px) {
  .trial__item_1 {
    top: 125px;
    left: 5px;
  }
}

.trial__item_2 {
  top: 285px;
  left: 125px;
}
@media (max-width: 320px) {
  .trial__item_2 {
    top: 213px;
    left: 45px;
  }
}

.trial__item_3 {
  top: 462px;
  left: 99px;
}
@media (max-width: 320px) {
  .trial__item_3 {
    top: 275px;
    left: 16px;
  }
}

.trial__item_4 {
  top: 488px;
  left: 421px;
}
@media (max-width: 320px) {
  .trial__item_4 {
    top: 333px;
    left: 80px;
  }
}

.trial__item-box {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0072DE;
  border-radius: 60px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 320px) {
  .trial__item-box {
    width: 20px;
    height: 20px;
    font-size: 14px;
  }
}

.trial__item-box-number {
  display: inline-block;
}

.trial__item-content {
  margin: 0 0 0 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
@media (max-width: 320px) {
  .trial__item-content {
    font-size: 14px;
  }
}

.trial__item-content-text {
  vertical-align: middle;
}/*# sourceMappingURL=style.css.map */