:root {
    --background-general: #FFFFFF;
    --text-primary: #222222;
    ;
    --text-secondary: #7C7C7C;
    --general-red: #F43131;
    --general-blue: #0072DE;
    --price: #29A71A;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    background: var(--background-general);
}

.test-1 {
    background: red;
    border: solid 3px;
}

.test-2 {
    background: blue;
    border: solid 3px;
    /*width: 624px;*/
}

.test-3 {
    background: cyan;
    border: solid 3px;
    /*width: 624px;*/
}

.test-4 {
    background: lime;
    border: solid 3px;
    /*width: 624px;*/
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1248px;
    margin: 0 auto;
}

/*Курсы языков*/

.header-content {
    min-height: 140px;
    display: flex;
}

.header-content__picture {
    width: 624px;
    display: flex;
    align-items: center;
}

.header-content__picture-logo {
    width: 90px;
    height: 90px;
    margin: 5px;
}

.header-content__title {
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
}

.header-content__title-eur {
    letter-spacing: 0.1em;
}

.header-content__title-lang {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.4em;
    color: var(--text-secondary);
}

.header-content__title-eur-let-e {
    font-size: 50px;
    line-height: 19px;
    color: var(--general-blue);
}

.header-content__title-eur-let-a {
    font-size: 50px;
    line-height: 19px;
    color: var(--general-red);
}

.header-content__picture-drop-down {
    margin: 0 0 0 20px;
}

.header-content__picture-drop-down-text {
    display: inline-block;
    color: var(--general-blue);
    text-decoration: underline;
}

.header-content__picture-drop-down-text:hover {
    display: inline-block;
    color: var(--general-red);
    text-decoration: underline;
}

.header-content__picture-drop-down-text-icon {
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 0 0 5px;
    border-top: 7px solid var(--text-secondary);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.header-content__picture-navbar {
    width: 150px;
    min-height: 100px;
    padding: 5px;
    /*display: block;*/
    display: none;
    position: absolute;
    box-shadow: 4px 4px 20px rgba(21, 78, 132, 0.1);
    border-radius: 10px;
}

.header-content__picture-drop-down:hover .header-content__picture-navbar {
    display: block;
}

.header-content__picture-navbar-link {
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    color: var(--text-secondary);
}

.header-content__picture-navbar-link:hover {
    color: var(--text-primary);
}

.header-contacts {
    width: 624px;
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-contacts__menu {
    display: inline-block;
}

.header-contacts__menu-list {
    width: 600px;
    display: flex;
    justify-content: space-around;
}

.header-contacts__menu-link {
    text-decoration: none;
    color: var(--text-secondary);
    font-weight: bolder;
    font-size: 14px;
}

.header-contacts__menu-link:hover {
    text-decoration: underline;
    color: var(--text-primary);
}

.header-contacts__search {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.header-contacts__search:hover {
    background: var(--text-secondary);
}

.header-contacts__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-contacts__content-phone {
    color: var(--text-primary);
    font-weight: bolder;
}

.header-contacts__content-socials {
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.header-contacts__content-btn {
    background: var(--background-general);
    color: var(--general-red);
    width: 220px;
    min-height: 50px;
    border: 1px solid var(--general-red);
    border-radius: 5px;
}

.header-contacts__content-btn:hover {
    color: var(--general-blue);
    border: 1px solid var(--general-blue);
}

.header-contacts__content-btn-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.header-nav__menu-list {
    display: flex;
    justify-content: space-between;
}

.header-nav__menu-item {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header-nav__menu-item:hover .header-nav__menu-line {
    display: block;
}

.header-nav__menu-link {
    display: inline-block;
    text-decoration: none;
    color: var(--text-primary);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.header-nav__menu-line {
    display: none;
    width: 100%;
    height: 5px;
    background: var(--general-red);
    border-radius: 5px;
}

.header-nav__pagination {
    display: flex;
    margin: 30px 0 30px 0;
}

.header-nav__pagination-link {
    text-decoration: none;
    color: var(--general-blue);
    margin: 0 5px 0 0;
}

.header-nav__pagination-link:hover {
    color: var(--general-red);
}

.header-nav__pagination-text {
    color: var(--text-secondary);
}

/*Преимущества*/

/*.advanteges {
    width: 100%;
    min-height: 500px;
    background: url(/img/advantages/people.png);
    
}*/