
$background-general: #FFFFFF;
$background-blue: #DAECFF;
$background-light-grey: #F8F8FF;
$background-grey: #C0C0C0;
$background-deep-grey: #696969;
$text-primary: #222222;
$text-secondary: #7C7C7C;
$general-red: #F43131;
$general-blue: #0072DE;
$background-sky: #00BFFF;
$price: #29A71A;
$input-border: #DCDCDC;

$desctop-tablet-max-width: 1600px;
$desctop-tablet-mid-width: 1300px;
$tablet-width: 768px;
$mobile-width: 320px;
