/*Оставить заявку*/

.container_application {
    min-height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        display: block;
        text-align: center;
        padding: 0 0 40px 0;
    }

    @include mobile {
        padding: 0 0 20px 0;
    }
}

.application {
    min-height: 165px;
    margin: 0 0 75px 0;
    background: $background-blue;

    @include mobile {
        margin: 0 0 15px 0;
    }
}

.application__content {
    min-height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.application__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;

    @include mobile {
        font-size: 23px;
        line-height: 30px;
    }
}

.application__text {
    @include mobile {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
    }
}

.application__btn {
    width: 250px;
    height: 50px;
    background: $general-blue;
    border: 1px solid $general-blue;

}

.application__btn:hover {
    background: $general-red;
    border: 1px solid $general-red;
}