/*Каталог*/

.catalog {
    padding: 0 0 20px 0;
}

.catalog__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: left;
    margin: 80px 0 40px 0;
}

.catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tablet {
        justify-content: center;
    }
}

.catalog__item {
    width: 570px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $background-general;
    border-radius: 10px;
    margin: 0 0 50px 0;
    padding: 10px;
}

.catalog__item-content {
    display: flex;
}

.catalog__item-content-pic {
    width: 200px;
}

.catalog__item-content-pic-image {
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.catalog__item-content-pic-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin: 15px 0 10px 0;
}

.catalog__item-content-pic-details {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: $general-blue;
}

.catalog__item-content-pic-details:hover {
    color: $general-red;
}

.catalog__item-content-desc {
    margin: 0 0 0 20px;
}

.catalog__item-content-desc-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
}

.catalog__item-content-desc-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin: 13px 0 0 0;
}

.catalog__item-control {
    display: flex;
    position: relative;
}

.catalog__item-control-btn {
    width: 175px;
    height: 60px;
    margin: 0 10px 0 0;
    line-height: 19px
}

.catalog__item-control-btn_try {
    border: $general-blue;
    background: $general-blue;
}

.catalog__item-control-btn_try:hover {
    color: $general-red;
}

.catalog__item-control-btn_meet {
    border: $general-red;
    background: $general-red;
}

.catalog__item-control-btn_meet:hover {
    color: $general-blue;
}

.catalog__item-control-link {
    margin: auto auto;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: $general-blue;
}

.catalog__item-control-link:hover {
    color: $general-red;
}

.catalog__item-control-price-box {
    width: 80px;
    height: 25px;
    background: $price;
    color: $background-general;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border-radius: 5px;
    position: absolute;
    top: -17px;
    left: 291px;
}

.catalog__item-control-price-box-text {
    padding: 4px 0 4px 0;
}

.catalog__item-control-price-box-triangle {
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
    border-left: 5px solid green;
    border-top: 5px solid green;
    position: absolute;
    top: 23px;
    left: 69px;
}