/*Отзывы учеников*/

.feedback__title {
    padding: 70px 0 35px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;

    @include mobile {
        padding: 50px 0 25px 0;
        font-size: 24px;
        line-height: 29px;
    }
}

.feedback__list {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include desctop-tablet-mid {
        overflow-x: scroll;
    }

    /*@include tablet {
        overflow-x: scroll;
    }*/
}

.feedback__item {
    /*width: 245px;*/
    width: 19.6%;
    height: 245px;
    padding: 20px;
    border: 2px solid $background-grey;
    border-radius: 15px;

    @include desctop-tablet-mid {
        width: 245px;
        margin: 0 25px 30px 0;
    }

    /*@include tablet {
        margin: 0 25px 30px 0;
    }*/

    @include mobile {
        width: 235px;
    }
}

.feedback__item-desc {
    display: flex;
    margin: 0 0 20px 0;
}

.feedback__item-desc-icon {
    width: 43px;
    height: 43px;
    margin: 0 10px 0 0;
    position: relative;
    background: url(../img/feedback/message-icon.png);
}

.feedback__item-desc-icon-pencil {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 9px;
    left: 12px;
}

.feedback__item-desc-student {
    width: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-secondary;
}

.feedback__item-desc-student-name {
    font-size: 20px;
    font-weight: 500;
}

.feedback__item-content {
    height: 190px;
    overflow-y: scroll;
}

.feedback__item-content-score {
    display: flex;
    margin: 0 0 20px 0;
}

.feedback__item-content-score-item {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
    background: url(../img/feedback/grey-star-icon.png);
}

.feedback__item-content-score-item:hover {
    background: url(../img/feedback/gold-star-icon.png);
}

.feedback__item-content-text {
    line-height: 150%;
}

.feedback__pagination {
    @include pagination-bar;

    @include desctop-tablet-mid {
        display: none;
    }

    /*@include tablet {
        display: none;
    }*/
}

.feedback__pagination-item {
    @include pagination-item;
}

.feedback__pagination-item:hover {
    @include pagination-item-hover;
}