/*Отзывы учеников*/

.feedback__title {
    padding: 70px 0 35px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
}

.feedback__list {
    display: flex;
    justify-content: space-between;
}

.feedback__item {
    width: 245px;
    min-height: 245px;
    padding: 20px;
    border: 2px solid $background-grey;
    border-radius: 15px;
}

.feedback__item-desc {
    display: flex;
    margin: 0 0 20px 0;
}

.feedback__item-desc-icon {
    width: 43px;
    height: 43px;
    margin: 0 10px 0 0;
    position: relative;
    background: url(/img/feedback/message-icon.png);
}

.feedback__item-desc-icon-pencil {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 9px;
    left: 12px;

}

.feedback__item-desc-student {
    width: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-secondary;
}

.feedback__item-desc-student-name {
    font-size: 20px;
    font-weight: 500;
}

.feedback__item-score {
    display: flex;
    margin: 0 0 20px 0;
}

.feedback__item-score-item {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
    background: url(/img/feedback/grey-star-icon.png);
}

.feedback__item-score-item:hover {
    background: url(/img/feedback/gold-star-icon.png);
}

.feedback__item-text {
    line-height: 150%;
}

.feedback__pagination {
    margin: 20px 0 80px 0;
    display: flex;
    justify-content: center;
}

.feedback__pagination-item {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background-grey;
    border: 1px solid $background-grey;
    border-radius: 60px;
    color: $background-general;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.feedback__pagination-item:hover {
    background: $background-sky;
    border: 1px solid $background-sky;
    border-radius: 60px;
}