/*Видео занятий*/

.lessons__heading {
    margin: 80px 0 50px 0;
    display: flex;
    justify-content: space-between;

    @include mobile {
        margin: 50px 0 25px 0;
    }
}

.lessons__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;

    @include mobile {
        font-size: 24px;
        line-height: 29px;
    }
}

.lessons__title-control {
    @include control;

    @include desctop-tablet-mid {
        display: none;
    }

    /*@include tablet {
        display: none;
    }*/
}

.lessons__title-control-button {
    @include control-button;
}

.lessons__title-control-button_left {
    @include control-button-left;
}

.lessons__title-control-button_right {
    @include control-button-right;
}

.lessons__title-control-button_right:hover {
    background: $general-blue;
    border: 1px solid $general-blue;
}

.lessons__title-control-button-left-triangle {
    @include control-button-left-triangle;
}

.lessons__title-control-button-right-triangle {
    @include control-button-right-triangle;
}

.lessons__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;

    @include desctop-tablet-mid {
        width: revert;
        overflow-x: scroll;
    }

    /*@include tablet {
        overflow-x: scroll;
    }*/
}

.lessons__item {
    width: 21.9%;

    @include desctop-tablet-mid {
        width: revert;
    }
}

.lessons__item-box {
    /*width: 270px;*/
    width: 100%;
    min-height: 200px;
    margin: 0 0 40px 0;
    background: $background-deep-grey;
    border: 2px solid $background-deep-grey;
    border-radius: 15px;

    @include desctop-tablet-mid {
        width: 270px;
        margin: 0 30px 35px 0;
    }

    /*@include tablet {
        
    }*/
}