/*Видео занятий*/

.lessons__title {
    margin: 80px 0 50px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
}

.lessons__title-control {
    @include control;

    @include tablet {
        display: none;
    }
}

.lessons__title-control-button {
    @include control-button;
}

.lessons__title-control-button_left {
    @include control-button-left;
}

.lessons__title-control-button_right {
    @include control-button-right;
}

.lessons__title-control-button_right:hover {
    background: $general-blue;
    border: 1px solid $general-blue;
}

.lessons__title-control-button-left-triangle {
    @include control-button-left-triangle;
}

.lessons__title-control-button-right-triangle {
    @include control-button-right-triangle;
}

.lessons__list {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;

    @include tablet {
        overflow-x: scroll;
    }
}

/*.lessons__item {
    
}*/

.lessons__item-box {
    width: 270px;
    min-height: 200px;
    margin: 0 0 40px 0;
    background: $background-deep-grey;
    border: 2px solid $background-deep-grey;
    border-radius: 15px;

    @include tablet {
        margin: 0 30px 35px 0;
        ;
    }
}