/*Результат*/

.result {
    /*width: 1650px;*/
    min-height: 700px;
    /*padding: 100px 0 0 0;*/
    background: url(/img/result/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.result__title {
    width: max-content;
    margin: 0 auto;
    padding: 70px 0 30px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
}

.result__certificate {
    width: 350px;
    min-height: 495px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: url(/img/result/sertificate.jpg);
    background-size: contain;
}

.result__subtitle {
    width: 300px;
    height: 40px;
    margin: -20px 0 0 0;
    background: $background-general;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
}

.result__list {
    position: absolute;
}

.result__item {
    display: flex;
    width: max-content;
    border-radius: 10px;
    padding: 13px 10px 13px 10px;
    background: $background-general;
    position: absolute;
}

.result__item_1 {
    top: 65px;
    left: 65px;
}

.result__item_2 {
    width: 220px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    top: 235px;
    left: -370px;
}

.result__item_3 {
    top: 315px;
    left: 80px;
}

.result__item-box {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $general-blue;
    border-radius: 60px;
    color: $background-general;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.result__item-box-number {
    display: inline-block;
}

.result__item-content {
    margin: 0 0 0 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.result__item-content-text {
    vertical-align: middle;
}