/*Результат*/


.result {
    min-height: 700px;
    background: url(../../img/result/vector.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include tablet {
        background: url(../../img/result/vector-tablet.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    @include mobile {
        min-height: 650px;
        background: url(../../img/result/vector-mobile.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.result__title {
    width: max-content;
    margin: 0 auto;
    padding: 50px 0 30px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;

    @include mobile {
        width: 285px;
        padding: 20px 0 30px 0;
        text-align: center;
        font-size: 24px;
        line-height: 29px;
    }
}

.result__certificate {
    min-height: 495px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: url(../img/result/sertificate.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include mobile {
        min-height: 400px;
        flex-direction: column;
        justify-content: space-between;
    }
}

.result__subtitle {
    width: 300px;
    height: 40px;
    margin: -20px 0 0 0;
    background: $background-general;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    @include shadow;

    @include mobile {
        width: 280px;
        height: 35px;
        margin: -10px 0 0 0;
        font-size: 17px;
    }
}

.result__list {
    position: absolute;

    @include mobile {
        position: static;
        width: 280px;
        border-radius: 10px;
        background: $background-general;
        /*background: yellow;*/
        @include shadow;
        margin: 0 0 -140px 0;
        padding: 5px;
    }
}

.result__item {
    display: flex;
    width: max-content;
    border-radius: 10px;
    padding: 13px 10px 13px 10px;
    background: $background-general;
    position: absolute;
    @include shadow;

    @include mobile {
        position: static;
        box-shadow: revert;
        width: revert;
        background: revert;
        padding: 5px;
    }
}

.result__item_1 {
    top: 60px;
    left: 65px;

    @include desctop-tablet-mid {
        left: 100px;
    }

    /*@include tablet {
        left: 100px;
    }*/
}

.result__item_2 {
    width: 220px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    top: 235px;
    left: -370px;

    @include desctop-tablet-mid {
        left: -345px;
    }

    /*@include tablet {
        left: -345px;
        
    }*/

    @include mobile {
        flex-direction: row;
        width: 245px;
    }
}

.result__item_3 {
    top: 315px;
    left: 80px;

    @include desctop-tablet-mid {
        left: -5px;
    }

    /*@include tablet {
        left: -5px;
    }*/
}

.result__item-box {
    @include item-dec;
}

.result__item-box-number {
    display: inline-block;
}

.result__item-content {
    margin: 0 0 0 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    @include mobile {
        width: 220px;
    }
}

.result__item-content-text {
    vertical-align: middle;
}