/*Преподаватели*/

.teachers {
    min-height: 450px;
    margin: 75px 0 0 0;
}

.teachers__heading {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: space-between;

    @include mobile {
        margin: 0 0 25px 0;
    }
}

.teachers__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;

    @include mobile {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
}

.teachers__title-control {
    @include control;

    @include tablet {
        display: none;

    }
}

.teachers__title-control-button {
    @include control-button;
}

.teachers__title-control-button_left {
    @include control-button-left;
}

.teachers__title-control-button_right {
    @include control-button-right;
}

.teachers__title-control-button_right:hover {
    background: $general-blue;
    border: 1px solid $general-blue;
}

.teachers__title-control-button-left-triangle {
    @include control-button-left-triangle;
}

.teachers__title-control-button-right-triangle {
    @include control-button-right-triangle;
}

.teachers__content {
    @include tablet {
        display: flex;
        align-items: center;
    }
}

.teachers__list {
    display: flex;
    justify-content: space-between;
    text-align: center;

    @include tablet {
        flex-wrap: wrap;
    }

    @include mobile {
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
}

.teachers__item {
    width: 300px;
    margin: 0 0 50px 0;

    @include tablet {
        width: 40%;
    }

    @include tablet-mobile-mid-width {
        width: 100%;
    }
}

.teachers__item-photo {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    background: $background-deep-grey;
    border: 1px solid $background-deep-grey;
    border-radius: 50%;
}

.teachers__item-name {
    margin: 20px 0 10px 0;
    color: $general-blue;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.teachers__item-desc {
    margin: 0 0 10px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.teachers__item-text {
    line-height: 150%;
    color: $text-secondary;

    @include mobile {
        width: 290px;
    }
}

/*Кнопки tablet*/

.teachers__content-control-button {
    display: none;
    @include control-button;

    @include tablet {
        display: block;
    }

}

.teachers__content-control-button_left {
    display: none;
    @include control-button-left;

    @include tablet {
        display: block;
    }

    @include mobile {
        display: none;
    }
}

.teachers__content-control-button_right {
    display: none;
    @include control-button-right;

    @include tablet {
        display: block;
    }

    @include mobile {
        display: none;
    }
}

.teachers__content-control-button_right:hover {

    @include tablet {
        display: block;
        background: $general-blue;
        border: 1px solid $general-blue;
    }
}

.teachers__content-control-button-left-triangle {
    @include control-button-left-triangle;
}

.teachers__content-control-button-right-triangle {
    @include control-button-right-triangle;
}