/*Пробный урок*/

.container_trial {
    position: relative;
}

.input-box_trial {
    width: 275px;
    margin: 0 0 15px 0;
    padding: 10px 0 10px 20px;

    @include mobile {
        width: 205px;
        /*padding: 5px 0 5px 10px;*/
    }
}

.trial {
    min-height: 565px;
    padding: 40px 0 0 0;
    background: #F6F9FC;

    @include tablet {
        padding: 40px 0 45px 0;
    }

    @include mobile {
        min-height: 740px;
        padding: 40px 0 20px 0;
    }
}

.trial__title {
    width: 745px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;

    @include mobile {
        width: 300px;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
    }
}

.trial__title-headline {
    @include mobile {
        display: block;
    }
}

.trial__title-benefit {
    color: $general-red;
}

.trial__picture-wrap {

    @include mobile {
        width: 280px;
        height: 300px;
    }

}

.trial__picture {

    @include mobile {
        padding: 0 0 0 10px;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

}

.trial__sign-up-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    top: 200px;
    right: 10px;
    width: 615px;
    min-height: 165px;
    padding: 25px;
    border-radius: 20px;
    background: $background-general;
    @include shadow;

    @include desctop-tablet-mid {
        position: static;
        margin: 0;
    }

    /*@include tablet {
        position: static;
        margin: 0 auto;
    }*/

    @include mobile {
        width: 235px;
        padding: 20px;
    }
}

.trial__sign-up-form-button {
    width: 295px;
    height: 55px;
    background: $general-blue;
    border: $general-blue;

    @include mobile {
        width: 225px;
    }
}

.trial__sign-up-form-button:hover {
    background: $general-red;
    border: $general-red;
}

.trial__list {
    position: absolute;
    top: 0px;

}

.trial__item {
    display: flex;
    width: max-content;
    border-radius: 10px;
    padding: 13px 10px 13px 10px;
    background: $background-general;
    position: absolute;
    @include shadow;

    @include mobile {
        height: 22px;
        padding: 5px 5px 5px 5px;
        border-radius: 5px;
    }
}

.trial__item_1 {

    @include pos(140px, 70px);

    @include mobile {
        @include pos(125px, 5px)
    }
}

.trial__item_2 {
    @include pos(285px, 125px);

    @include mobile {
        @include pos(213px, 45px);
    }
}

.trial__item_3 {
    @include pos(462px, 99px);

    @include mobile {
        @include pos(275px, 16px);
    }
}

.trial__item_4 {
    @include pos(488px, 421px);

    @include mobile {
        @include pos(333px, 80px);
    }
}

.trial__item-box {
    @include item-dec;

    @include mobile {
        width: 20px;
        height: 20px;
        font-size: 14px;
    }
}

.trial__item-box-number {
    display: inline-block;
}

.trial__item-content {
    margin: 0 0 0 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    @include mobile {
        font-size: 14px;
    }
}

.trial__item-content-text {
    vertical-align: middle;
}